 <h1 text-align="center">Все продукты</h1>
    <h3>@Model.currCategory</h3>
    <div>
        @* Выполняем перебор объекта GetProducts, который содержит все Товары, в переменную  prod типа Product *@
        @{
            foreach (WebSite2.Data.Models.Product prod in Model.GetProducts)
            {
                @*Чтобы подключить шаблон AllProducts используем Html.Partial(1-ый параметр - имя подключаемого шаблона 2-ой параметр - объект который передаем*@
        <div class="col-lg-4">
            @Html.Partial("AllProducts", prod)

            
               @*@{ foreach (WebSite2.Data.Models.FilterName prodPr in Model.ProductProperties)
                    
                       @Html.Partial("AllFilterName", prodPr)
                   }*@
        </div>

                   }
        }

       
    </div>
    @*<div class="col-lg-3 col-md-4 col-sm-5">
        @{
            <partial name="SmartFilter" />
        }
        </div>*@
            @section Footer {
                <footer class="container">
                    <p class="float-right">SITE template built for <a href="#">Bootstrap</a> by <a href="iris-retail.ru">IRIS</a>.</p>
                </footer>
            }

