@*Подключаем нужный класс*@
@model CatalogGroup
            <div class="item">
                <i class="fa fa-book"></i><span>
                    <a href="Products/ProductListView?nameProductSearch=&groups=@Model.GroupName">@Model.GroupName</a>
                </span>
            </div>
